html,
body {
  background-color: #bcb8b1;
  font-family: "Lora", serif;
}
#nav-Main {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2.5rem;
  align-items: center;
  display: flex;
  color: #ffcdb2;
}
#nav {
  background-color: #463f3a;
}
#rollContain {
  background-color: #bcb8b1;
  padding: 5em;
  text-align: center;
}
#cardStyle {
  height: 28rem;
  width: 30rem;
  border-radius: 10% 0 0 10%;
  background-color: #292b2c;
}
#rollVal {
  margin: 10rem;
  font-size: 2em;
  font-family: "lora", serif;
  font-weight: 500;
  color: white;
}
#cRolls {
  font-family: "Lora", serif;
  font-weight: 500;
  padding-bottom: 2em;
  margin-top: 3em;
}
button {
  cursor: pointer;
}
#bContain button {
  margin: 0 0.4em;
}
#dTotal {
  width: 8%;
  border: 0.1em solid black;
  border-radius: 20%;
  text-align: center;
  font-family: "Lora", serif;
  font-weight: bold;
}
#dTotal::placeholder,
#dTotal::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-weight: bold;
  color: black;
}
#hCard {
  border-radius: 0 1em 1em 0;
  padding: 0;
  background-color: #292b2c;
}
#hTitle {
  color: white;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
tr {
  animation: fadeIn 0.5s ease-in-out;
}
.card-text {
  animation: fadeIn 0.3s ease-in-out;
}
