html,
body {
  background-color: #bcb8b1;
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
#nav-Main {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffcdb2;
  width: 3rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#nav {
  background-color: #463f3a;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rollContain {
  background-color: #bcb8b1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
#rollVal {
  font-size: 2em;
  font-family: "lora", serif;
  font-weight: 500;
  color: white;
  margin: 3rem;
}
#cardStyle {
  background-color: #292b2c;
  display: flex;
  border-radius: 0;
  display: flex;
}
#cardBody {
  margin: 0;
}
/*dTotal = total number of dice, this is an input element*/
#dTotal {
  width: 2.3em;
  height: 2.3em;
  border: 0.1em solid black;
  border-radius: 20%;
  text-align: center;
  font-family: "Lora", serif;
  font-weight: bold;
}
#dTotal::placeholder {
  font-family: "Lora", serif;
  font-weight: bold;
  color: black;
}
#bContain {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bContain button {
  margin: 0 0.2em 0 0.2em;
}
#dPlus,
#dMinus {
  min-width: 2.3rem;
  min-height: 2.3rem;
}
#prevBtn,
#nextBtn,
#rollBtn {
  min-width: 6em;
  min-height: 2.3em;
}
#hCard {
  border-radius: 0;
  padding: 0;
  background-color: #292b2c;
  height: 23em;
  max-height: 28em;
  color: white;
  overflow: auto;
  margin: 0;
}

#tHead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
}
#tHead th[scope="row"] {
  vertical-align: top;
  color: inherit;
  background-color: inherit;
}
#hCard::-webkit-scrollbar {
  width: 10px;
}
#hCard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1.2em 1.2em 1.2em 1.2em;
}
#hCard::-webkit-scrollbar-thumb {
  background: #0d1317;
  border-radius: 1.2em 1.2em 1.2em 1.2em;
}
#hCard::-webkit-scrollbar {
  width: 10px;
}
tr {
  animation: fadeIn 0.5s ease-in-out;
}
.card-text {
  animation: fadeIn 0.3s ease-in-out;
}
