html, body{
    background-color:#BCB8B1 ;
    font-family: 'Lora', serif;
}
#nav-Main{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2.5rem;
    align-items: center;
    display: flex;
    color: #FFCDB2;

}
#test{
    background-color: #463f3a;
}
#rollContain{
    background-color: #BCB8B1;
    padding: 5em;
    text-align: center;
}
#cardStyle{
    height: 28rem;
    width: 30rem;
    border-radius: 10%;
    background-color: #8A817C;
}
#rollVal{
    margin:10rem;
    font-size:2em;
    font-family: 'lora', serif;
    font-weight:500;
}
#cRolls{
    font-family: 'Lora', serif;
    font-weight:500;
    padding-bottom: 2em;
    margin-top: 3em;
}
.carousel-inner{
    margin: auto;
}
button{
    cursor: pointer;
}